### Latests posts
{% for post in posts -%}
* {{ post["date"] }} - [{{ post["title"] }}]({{ post["link"] }})
{% endfor %}

More posts @ [blog]({{ blogurl }})


<p align="center">
  <a href="https://github.com/rasjani"><img src="https://img.shields.io/github/followers/rasjani.svg?label=GitHub&style=social" alt="GitHub"></a>
  <a href="https://github.com/sponsors/rasjani"><img src="https://img.shields.io/badge/GitHub_Sponsors--_.svg?style=social&logo=github&logoColor=EA4AAA" alt="GitHub Sponsors"></a>
  <a href="https://www.linkedin.com/in/mikkonenjani"><img src="https://img.shields.io/badge/LinkedIn--_.svg?style=social&logo=linkedin" alt="LinkedIn"></a>
</p>

